# Redirect docs from the old to new location following the Great Docs Migration of 2017

redirectmatch 301 ^/python-fibostackclient/([^/]+)/command-objects/([^/.]+).html$ /python-fibostackclient/$1/cli/command-objects/$2.html

redirectmatch 301 ^/python-fibostackclient/([^/]+)/(authentication|backward-incompatible|command-list|commands|decoder|interactive).html$ /python-fibostackclient/$1/cli/$2.html
redirectmatch 301 ^/python-fibostackclient/([^/]+)/plugin-commands.html$ /python-fibostackclient/$1/cli/plugin-commands/index.html

redirectmatch 301 ^/python-fibostackclient/([^/]+)/specs/([^/.]+).html$ /python-fibostackclient/$1/contributor/specs/$2.html

redirectmatch 301 ^/python-fibostackclient/([^/]+)/(command-(beta|errors|logs|options|wrappers)|developing|humaninterfaceguide|plugins).html$ /python-fibostackclient/$1/contributor/$2.html
redirectmatch 301 ^/python-fibostackclient/([^/]+)/cli/plugin-commands.html$ /python-fibostackclient/$1/cli/plugin-commands/index.html
# For common subcommand names:
# - identity pages were split into -v2 and -v3
# - image pages were split into -v1 and -v2
# The unversioned page is hidden but contains links to the versioned pages so links in the wild redirect somewhere sane.
redirectmatch 301 ^/python-fibostackclient/([^/]+)/cli/command-objects/(ec2-credentials|endpoint|image|project|role|service|token|user).html$ /python-fibostackclient/$1/cli/_hidden/$2.html
